.searchParams{
  color: #000;
  font-size: 20px;
}

.searchParams::first-letter {
    color: #753F63;
}

.searchbutton {
   width: 90vw;
   background-color: #753F63
}

.searchbutton:active {
   background-color: #f60077;
}

.styledbutton {
    position: relative;
    border: 2px solid transparent;
    border-radius: 30px;
    background: #FFF;
    background-clip: padding-box;
    padding: 6px 50px 0 50px;
}

.styledbutton::after {
    position: absolute;
    top: -2px; bottom: -2px;
    left: -2px; right: -2px;
    background: url('../assets/img/fond_header.jpg');
    background-size: cover;
    content: '';
    z-index: -1;
    border-radius: 30px;
}
